/* // @import url('@radix-ui/themes/styles.css'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

// @import '@radix-ui/colors/gray.css';
// @import '@radix-ui/colors/blue.css';
// @import '@radix-ui/colors/green.css';
// @import '@radix-ui/colors/red.css';
// @import '@radix-ui/colors/indigo.css';
// @import '@radix-ui/colors/slate.css';
// @import '@radix-ui/colors/gray-dark.css';
// @import '@radix-ui/colors/blue-dark.css';
// @import '@radix-ui/colors/green-dark.css';
// @import '@radix-ui/colors/red-dark.css';
// @import '@radix-ui/colors/indigo-dark.css';
// @import '@radix-ui/colors/slate-dark.css';

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--radius-1: 3px;
	--radius-2: 4px;
	--radius-3: 6px;
	--radius-4: 8px;
	--radius-5: 12px;
	--radius-6: 16px;

	--scaling: 1;

	--space-1: calc(4px * var(--scaling));
	--space-2: calc(8px * var(--scaling));
	--space-3: calc(12px * var(--scaling));
	--space-4: calc(16px * var(--scaling));
	--space-5: calc(24px * var(--scaling));
	--space-6: calc(32px * var(--scaling));
	--space-7: calc(40px * var(--scaling));
	--space-8: calc(48px * var(--scaling));
	--space-9: calc(64px * var(--scaling));

	--font-size-1: calc(12px * var(--scaling));
	--font-size-2: calc(14px * var(--scaling));
	--font-size-3: calc(16px * var(--scaling));
	--font-size-4: calc(18px * var(--scaling));
	--font-size-5: calc(20px * var(--scaling));
	--font-size-6: calc(24px * var(--scaling));
	--font-size-7: calc(28px * var(--scaling));
	--font-size-8: calc(35px * var(--scaling));
	--font-size-9: calc(60px * var(--scaling));

	--line-height-1: calc(16px * var(--scaling));
	--line-height-2: calc(20px * var(--scaling));
	--line-height-3: calc(24px * var(--scaling));
	--line-height-4: calc(26px * var(--scaling));
	--line-height-5: calc(28px * var(--scaling));
	--line-height-6: calc(30px * var(--scaling));
	--line-height-7: calc(36px * var(--scaling));
	--line-height-8: calc(40px * var(--scaling));
	--line-height-9: calc(60px * var(--scaling));

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
